    <form id="options-form" class="btn-group warning form-inline pull-right" data-toggle="buttons">
        <label for="api-show-inherited" class="btn btn-info active">
            <input type="checkbox" id="api-show-inherited" checked>
            Inherited
        </label>

        <label for="api-show-protected" class="btn btn-info">
            <input type="checkbox" id="api-show-protected">
            Protected
        </label>

        <label for="api-show-private" class="btn btn-info">
            <input type="checkbox" id="api-show-private">
            Private
        </label>
        <label for="api-show-deprecated" class="btn btn-info">
            <input type="checkbox" id="api-show-deprecated">
            Deprecated
        </label>
    </form>